<div class="container">
  <h1>Results</h1>


  <p>Your word: <%= @word %></p>

  <br>

  <p> <%= @result %> </p>

  <br>

  <div class="btn btn-danger"><%= link_to "Play again", new_path %></div>
</div>
